@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* Google Fonts */

/* montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

/* From Public Directory */
@font-face {
  font-family: "CalSans";
  src: url("../../public/fonts/webfonts/CalSans-SemiBold.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/otf/Poppins-Regular.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../public/fonts/otf/Poppins-Medium.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../public/fonts/otf/Poppins-SemiBold.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../public/fonts/otf/Poppins-Bold.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Black";
  src: url("../../public/fonts/otf/Poppins-Black.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CalSans", sans-serif;
}

/* disable scrollbar */
html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/* Toggle Input Styling */
.toggle {
  position: relative;
  height: 32px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.toggle label {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}
.toggle label:before {
  content: "";
  background: #006aff;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  box-shadow: inset 0 0.1em 0.03em #0002, inset 0 0.1em 0.3em #0003;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}
.toggle label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 2;
  display: grid;
  place-content: center;
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  box-sizing: border-box;
  color: #fff;
  background: #fff;
  box-shadow: -2px 2px 4px #0004;
  transition: 0.25s ease-in-out;
}
.toggle input[type="checkbox"]:checked + label:before {
  background: #006aff;
}
.toggle input[type="checkbox"]:checked + label:after {
  content: "";
  background: #fff;
  transform: translatex(29px);
}

.desktop-wide,
.desktop {
  display: none;
}

@media (min-width: 768px) {
  .desktop {
    display: block;
  }
}

@media (min-width: 2000px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 2000px) {
  .desktop-wide {
    display: block;
  }
}

/* Slider */

.videos {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
}

/* .slider::before,
.slider::after {
  content: "";
  position: absolute;
  height: 100%;
  z-index: 900;
  width: 5%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: calc(100vw - 50%);
  top: 0;
  transform: scaleX(-1);
} */

.videos-slide {
  display: inline-block;
  animation: slide 15s infinite linear;
}

.videos-slide-video {
  margin: 0 20px;
}

.images {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
}

.images-slide {
  display: inline-block;
  animation: slide 15s infinite linear;
}

.images-slide {
  margin: 0 20px;
}

.images-slide img {
  height: 30px;
  width: 100%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% * 8));
  }
}

/* Images Slider */
/* .slider-images {
  background: transparent;
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-track-images {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 5);
}

.slide-images {
  height: 30px;
  width: 250px;
  margin: 0 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 2.5));
  }
} */

.blue-wave {
  transform: scale(0);
  opacity: 0;
  z-index: -1;
  transition: all 0.15s ease;
}

.hero-btn:hover .blue-wave {
  transform: scale(0.85);
  opacity: 1;
}

/* .hero-btn:hover .hero-button-bg {
  background: transparent !important;
  border-left: 1px solid #006aff !important;
} */
