@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* disable scrollbar */
html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/* montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.desktop-wide,
.desktop {
  display: none;
}

@media (min-width: 768px) {
  .desktop {
    display: block;
  }
}

@media (min-width: 2000px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 2000px) {
  .desktop-wide {
    display: block;
  }
}
