@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* disable scrollbar */
html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.desktop-wide,
.desktop {
  display: none;
}

@media (min-width: 768px) {
  .desktop {
    display: block;
  }
}

@media (min-width: 2000px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 2000px) {
  .desktop-wide {
    display: block;
  }
}

/* Slider */

.videos {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
}

/* .slider::before,
.slider::after {
  content: "";
  position: absolute;
  height: 100%;
  z-index: 900;
  width: 5%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: calc(100vw - 50%);
  top: 0;
  transform: scaleX(-1);
} */

.videos-slide {
  display: inline-block;
  animation: slide 15s infinite linear;
}

.videos-slide-video {
  margin: 0 20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% * 8));
  }
}
